на основе Targetfile веди разработку проекта, параллельно ведя учетностьтого что сейчас реализованно в Currentprogressfile, в похожем стиле что и Targetfile

указания по текущему проекту:
1. после внесения тех или иных изменений, таски или иной значительный функционал, ты обязан периодически запускать приложение для четкого отслеживания работоспособности проверяемого функционала, то есть после каждой таски запускай и собирай проект и проверяй его через фетч запросы
2. mvn отсуствует на данном ПК и его нельзя устанавливать сюда, поэтому у тебя в распоряжении докер и соответствующие образы для работы с java

